.avatar {
    margin: 22px;
}

.avatar span {
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.avatar img {
    box-sizing: border-box;
    border-radius: 10px;
    transition: all .2s ease-in;
}

.avatar:hover img {
    border: solid 5px red;
    border-radius: 100px;
    box-shadow: 0px 5px 10px rgba(0,0,0,.5);
}