.avatar {
    margin: 22px;
    text-align: center;
    position: relative;
}

.avatar span {
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.avatar img {
    box-sizing: border-box;
    border-radius: 10px;
    border: solid 2px blue;
    transition: all .2s ease-in;
}

.avatar:hover img {
    transition: all .2s ease-out;
    border: solid 5px green;
    border-radius: 100px;
    box-shadow: 0px 5px 10px rgba(0,0,0,.5);
}

.avatar .user-name {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    color: white;
    font-size: 18px;
    text-shadow: 0px 0px 10px #000;
}