.progress-bar-wrapper {

    margin: 10px 0;

    .progress-bar {
        min-height: 40px;
        width: 100%;
        border: 1px solid #000;

        .progress-bar-progress {
            min-height: 40px;
            background-color: rgba(255, 0, 0, 0.503);
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        .percentage {
            font-weight: bold;
            padding-right: 10px;
            text-shadow: 2px 2px 10px rgba(0,0,0,.5);
            &::after{
                content: '%'
            }
        }
    }
}